  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1478"><a href="https://npafc.org/" class="elementor-item">Home</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1477"><a href="https://yearofthesalmon.org/" class="elementor-item">International Year of the Salmon</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1476"><a href="https://international-year-of-the-salmon.github.io/about/" class="elementor-item">IYS Data Mobilization Portal</a></li>
